<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/card.css">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/js/script.js"></script>
    <title>Survey page</title>
</head>

<style>

    #bussiness-cat {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .card {        
        background: #FFFFFF;
        border-radius: 25px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        padding: 5%;
        margin: 4% 0%;
    }

    .blue-button {
        align-self: center;
    }

    #modules, #back-button-cont{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .module {
        display: flex;
        flex-direction: column;
        width: 22%;
        margin: 0% 3%;
        text-align: center;
        justify-content: center;
        padding: 5% 2%;
        margin-top: 2%;
    }
    .module-h {
        margin-bottom: 10%;
    }

    .mCont {
        padding-top: 4%;
        padding-bottom: 4%;
        border-bottom: 0.5px solid lightgray;
    }

    .mDesc {
        text-align: justify;
        font-weight: 300;
    }

    .tips-li {
        display: flex;
        margin-top: 2%;
    }

    #vd {
        display: flex;
        justify-content: center;
    }

    .vd-chart {
        margin: 0% -40px;
    }

    #vd-text-mc {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 5%;
        margin-right: -4%;
        z-index: 1;
    }

    #vd-text-oc {
        display: flex;        
        flex-direction: column;
        justify-content: end;     
        padding-bottom: 5%;   
        margin-left: -4%;
        z-index: 1;
    }

    .mDetails {
        max-height: none;
    }

    .m-result {
        width: 30%;
        padding: 3%;
        margin: 0% 3%;
    }

    .quote {
        font-size: 2rem;
        padding-right: 20%;
        text-align: center;
        font-weight: 200;
    }

    #contact-us {
        color: var(--bright-blue);
        font-size: 1.5rem;
        font-weight: 500;
    }

    #contact-us:hover {
        color: var(--dark-blue);
    }
</style>

<body>
    <!-- Navbar -->
    <header class="z-10">
        <%- include ('../../partials/nav.ejs') %>
    </header>
    
    <!-- Body -->
    <div class="padded">
        <div id="top-buttons" class="mt-10 horizontal-margin">
            <img id="print-button" src="/icons/print.svg" alt="Print page">
        </div>
        <!-- Module -->
        <div class="w-full mx-auto bg-white">
            <!-- Text -->
            <div class="textBox text-center">
                <h2 class="">Your business is</h2>
                <h2 id="bussiness-cat" class="blue-text"><%= business_category.category %></h2>    
            </div>
            
            <!-- Venn diagram -->
            <div id="vd" class="mt-10">
                <!-- market creation -->
                <div id="vd-text-mc">
                    <p >Market Creation</p>
                </div>
                <div id="vd-mc" class="vd-chart"></div>              
                <!-- organisational change -->
                <div id="vd-oc" class="vd-chart"></div> 
                <div id="vd-text-oc">
                    <p>Organisational Change</p>
                </div>             
            </div>               

            <!-- Cards -->
            <div id="modules">
            <% for (m in modules) { %>
                <div id="card-1" class="card module">
                    <!-- heading -->
                    <div class="module-h">
                        <h3 class="blue-text"><%= modules[m].name %></h3>
                    </div>
                    <!-- button -->                    
                    <a href="#mCont<%= m.code %>" class="blue-button w-1/2">
                        Click here
                    </a>
                </div>
            <% } %>
                <div id="card-1" class="card module">
                    <!-- heading -->
                    <div class="module-h">
                        <h3 class="blue-text">So What's Next?</h3>
                    </div>
                    <!-- button -->
                    <a href="#implementation" class="blue-button w-1/2">
                        Click here
                    </a>
                </div>
            </div>            
        
            <!-- Desciption -->        
            <div class="mt-24">
                <h2 class="">What is <%= business_category.category %> ?</h2>
                <p class="mt-10 horizontal-margin"><%= business_category.desc %></p>
            </div>

            <!-- Tips -->
            <div id="" class="card tips horizontal-margin">
                <h3 class="">Steps to improve your Business:</h3>                                               
                <ol class="list-decimal mt-5 ml-10">
                    <% business_category.improvements.split(';').forEach((li) => { %>
                        <li class="mt-5"><p><%= li %></p></li>
                    <% }); %>
                </ol>                        
            </div>

            <% for (m in modules) { %>
            <!-- Module Details Dropdown -->
            <div class="">
                <!-- Dropdown -->
                <div id="mCont<%= m.code %>" class="mCont">
                    <div class="mDesc">                       
                        <h2 class="blue-text mTopic"><%= modules[m].name %></h2> 
                        <div id="pb-<%= modules[m].code %>" class="mt-16"></div>                        
                        <p class="horizontal-margin"><%= scores[modules[m].code].mScore.desc %></p>
                        <!-- Steps to improve -->
                        <div id="" class="card horizontal-margin">                        
                            <h3 class="">Steps to improve your <%= modules[m].name %>:</h3>                                               
                            <ol class="list-decimal mt-5 ml-10">
                                <% scores[modules[m].code].mScore.improvements.split(';').forEach((li) => { %>
                                    <li class="mt-5"><p><%= li %></p></li>
                                <% }); %>
                            </ol>                        
                        </div>
                    </div>                   
                </div>
            </div>
            <% }; %>

            <!-- Implementation -->
            <div id="implementation" class="mt-16">
                <h2 class="blue-text">So What's Next?</h2>
                <div class="double-col mt-16">
                    <div class="col w-1/3">
                        <span class="quote blue-text">"Action speaks louder than words"</span>
                    </div>
                    <div class="col w-2/3">
                        <h5>We are here to help you improve your business</h5>
                        <p class="mt-5">If you have questions about this assessment, want to develop a bespoke CE-MAP framework through our CIRCLE program or need support to implement assessment recommendations, please feel free to contact our CE research team. We're here to support your journey towards a more circular and sustainable future.</p>
                        <a href="#footer" id="contact-us" class="mt-5">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- button -->
            <div id="back-button-cont">
                <div class="blue-button w-1/4">
                    <a href="#" class="">
                        Go back to home
                    </a>
                </div>
            </div>  
        </div>      
    </div>
</body>

<!-- Footer -->
<footer id="footer" class="">
    <%- include ('../../partials/footer.ejs') %>
</footer>
</html>

<script type='text/javascript'> 
// Retrieve data from server
let modules = JSON.parse('<%= JSON.stringify(modules) %>'.replace(/&#34;/g, '"'));
let data = JSON.parse('<%= JSON.stringify(data) %>'.replace(/&#34;/g, '"'));
let scores = JSON.parse('<%= JSON.stringify(scores) %>'.replace(/&#34;/g, '"'));
let cat = JSON.parse('<%= JSON.stringify(cat) %>'.replace(/&#34;/g, '"'));
let originalState = null;
console.log(modules);
console.log(data);
console.log(scores);

window.onload = function() {
    // Overall result -> Venn diagram
    for (const m in scores) {

        showNav();

        // Init
        let mScore = scores[m].mScore.label
        let mScorePercentage = scores[m].mScore.score/scores[m].mScore.maxScore*100
        
        // Venn diagram
        insertVennRadialChart(`vd-${m}`, cat[mScore]['label'], cat[mScore]['color'], '#ffffff', '300px', '80%', cat[mScore]['color2'], mScorePercentage)        

        // Progress chart
        
        let pbCont = document.getElementById(`pb-${m}`)
        pbCont.appendChild(createProgressChart(mScorePercentage, `Your are ${cat[mScore]['label']}`, 1/3*100, 1/3*100, 1/3*100))
    }

    // Print
    const printButton = document.getElementById('print-button');
    printButton.addEventListener('click', function() {  
        // Apply styles for print
        const originalDisplayStyle = document.body.style.display;
        document.body.style.display = 'block';

        // Trigger print dialog
        tidyUpPage();
        window.print();

        // Ensure that the printing operation is completed before restoring the original state
        setTimeout(() => {
            restoreOriginalState();
        }, 1000); // You might need to adjust the delay based on the printing duration

        // Restore original styles after printing
        document.body.style.display = originalDisplayStyle;
        });
}

function storeOriginalState() {
    originalState = {
        navElement: document.querySelector('nav').cloneNode(true),
        cardModules: Array.from(document.querySelectorAll('.card.module')).map(element => element.cloneNode(true)),
        buttons: Array.from(document.querySelectorAll('button')).map(element => element.cloneNode(true)),
        footerDiv: document.getElementById('footer').cloneNode(true)
    };
}

function tidyUpPage() {

    // Store the original state if it hasn't been stored yet
    if (!originalState) {
        storeOriginalState();
    }

    console.log(originalState)

    // Remove the <nav> element and its contents from the DOM
    const navElement = document.querySelector('nav');
    if (navElement) {
        navElement.classList.remove('nav-show');
    }

    // Remove elements with class 'card module'
    const cardModules = document.querySelectorAll('.card.module');
    cardModules.forEach(cardModule => {
        cardModule.remove();
    });

    // Remove all buttons
    const buttons = document.querySelectorAll('button');
    buttons.forEach(button => {
        button.remove();
    });
    
    // Remove  styles from #footer element
    const footerDiv = document.getElementById('footer');
    footerDiv.removeAttribute('style');
    footerDiv.removeAttribute('class');
    removeStylesAndClassesRecursively(footerDiv);
}

function removeStylesAndClassesRecursively(element) {
    element.removeAttribute('style');
    element.removeAttribute('class');
    element.childNodes.forEach(child => {
        if (child.nodeType === 1) {
            removeStylesAndClassesRecursively(child);
        }
    });
}

function restoreOriginalState() {
    if (originalState) {
        // Restore <nav> element
        const currentNavElement = document.querySelector('nav');
        currentNavElement.classList.add('nav-show');

        // Restore elements with class 'card module'
        const cardModuleContainer = document.querySelector('#modules');
        cardModuleContainer.innerHTML = '';
        originalState.cardModules.forEach(cardModule => {
            cardModuleContainer.appendChild(cardModule);
        });

        // Restore buttons
        const buttonsContainer = document.createElement('div');
        originalState.buttons.forEach(button => {
            buttonsContainer.appendChild(button);
        });
        // Add the restored buttons back to the DOM where they were removed initially

        // Restore styles to #footer element
        const currentFooterDiv = document.getElementById('footer');
        currentFooterDiv.parentNode.replaceChild(originalState.footerDiv, currentFooterDiv);

        // Reset original state after restoring
        originalState = null;
    }
}
</script>
