<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">    
    <script src="https://cdn.tailwindcss.com"></script>    
    <title>Take a Survey</title>
</head>
<style>
    #pb-outer{
        position: fixed;
        bottom: 0%;
    }

    #pb {
        background-image: linear-gradient(to right, var(--dark-blue), #a9cae4);  
    }

    label {
        columns: red;
    }

    .card {
        padding: 5%;
    }        

</style>
<body>
    <!-- Navbar -->
    <header class="z-10">
        <%- include ('../partials/nav.ejs') %>
    </header>

    <!-- Progress bar -->
    <div id="pb-outer" class="w-full bg-gray-200 h-6 flex items-center">
        <div id="pb" class="h-full rounded-r-lg transition-all ease-out duration-1000"></div>
        <span id="pb-label" class="-ml-10 text-xs text-black font-medium"></span>
    </div>

    <!-- Body -->
    <div class="body">        
        <!-- Survey -->    
        <form id="survey" <% if (module.id=='m2m3') { %>action="/result/market_creation_and_organisational_change"<% } else { %>action="/result"<% } %> method="post">
            <!-- Hidden input: Which module -->
            <input type="hidden" name="module" value="<%= JSON.stringify(module) %>">  
            <input type="hidden" name="userId" value="<%= JSON.stringify(userId) %>">  

            <!-- Submit button -->
            <div id="submit" class="text-center mt-10">
                <a><button type="submit" class="blue-button w-1/4">See your result</button></a>
            </div>
        </form>
    </div>
      
</body>
</html>

<script type='text/javascript'> 

// Retrieve data from server
let module = JSON.parse('<%= JSON.stringify(module) %>'.replace(/&#34;/g, '"'));
let data = JSON.parse('<%= JSON.stringify(data) %>'.replace(/&#34;/g, '"'));

// Set progress bar
let pb = document.getElementById('pb')
pb.style.width = '0%';
let pbl = document.getElementById('pb-label')
pbl.innerText = '0%';

// Function: Set progress bar width
const setProgressBar = (currentQ, totalQ) => {
    const progressPercentage = currentQ / totalQ * 100
    pb.style.width = `${parseInt(progressPercentage)}%`
    pbl.innerText = `${parseInt(progressPercentage)}%`
}

// Function: Create module box
const createModuleBox = (id, heading) => {
    const cont = document.createElement("div");
    cont.id = id;
    cont.className = "modulebox";

    const h2 = document.createElement("h2");
    h2.textContent = heading;
    h2.style.marginTop = '6%';
    h2.classList.add('blue-text');
    // Heading style here
    cont.appendChild(h2);

    return cont;
}

// Function: Create question box (div)
const createQuestionBox = (id) =>  {
  const cont = document.createElement("div");
  cont.id = id;
  cont.className = "card mt-5";
  return cont;
}

const createSubQuestionBox = (id) =>  {
  const cont = document.createElement("div");
  cont.id = id;
  cont.className = "";
  return cont;
}

// Function: Create question (p)
const createQuestion = (questionText) =>  {
  const questionParagraph = document.createElement("p");
  questionParagraph.className = "text-gray-800 my-4";
  questionParagraph.textContent = questionText;
  return questionParagraph;
}

// Function: Create option buttons group
const createRadioButtonDiv = () => {
  const radioContainerDiv = document.createElement("div");
  radioContainerDiv.className = "radio-container flex items-center space-x-4";

  return radioContainerDiv;
}

// Function: Create option button
const createRadioLabel = (id, className, label, name, value) => {
  const radioOptionLabel = document.createElement("label");
  radioOptionLabel.setAttribute("for", id);
  radioOptionLabel.className =  className + " radio-button inline-flex items-center";

  const radioOptionInput = document.createElement("input");
  radioOptionInput.type = "radio";
  radioOptionInput.id = id;
  radioOptionInput.name = name;
  radioOptionInput.value = value;
  radioOptionInput.style.display = 'none'

  const radioOptionCircle = document.createElement("p");
  radioOptionCircle.classList = 'optionCircle';  
  radioOptionCircle.style.width = '18px';
  radioOptionCircle.style.height = '18px';
  radioOptionCircle.style.border = '2px solid var(--medium-blue)';
  radioOptionCircle.style.borderRadius = '50%';
  radioOptionCircle.style.marginRight = '10px';
  radioOptionCircle.style.verticalAlign = 'middle';
  
  const radioOptionText = document.createElement("p"); 
  radioOptionText.classList.add('optionText');
  radioOptionText.textContent = label;

  radioOptionLabel.appendChild(radioOptionInput);
  radioOptionLabel.appendChild(radioOptionCircle);
  radioOptionLabel.appendChild(radioOptionText);

  return radioOptionLabel
}

function attachRadioListeners(id, qId) {
    console.log(id)
    const radioOptionInput = document.getElementById(id)

    // Uncheck all other radio inputs with the same name attribute
    const radioInputs = document.querySelectorAll('input[name="' + radioOptionInput.name + '"]');
    radioInputs.forEach(input => {
        if (input !== radioOptionInput) {
            input.checked = false;
            const circle = input.nextElementSibling;
            circle.style.border = '2px solid var(--medium-blue)';
        }
    });

    console.log(radioOptionInput)

    const circle = radioOptionInput.nextElementSibling;

    if (radioOptionInput.checked) {
        circle.style.border = '5px solid var(--medium-blue)';
    } else {
        circle.style.border = '2px solid var(--medium-blue)';
    }
}

window.onload = function() {
    console.log('Page has fully loaded');
    console.log(module);

    showNav();
    
    // Get container
    const survey = document.getElementById('survey');
    
    // Analyse module
    if (module['id'] == 'm2m3') {
        // Create module
        let moduleBox1 = createModuleBox('m2', 'Market Creation');
        let moduleBox2 = createModuleBox('m3', 'Organisational Change');

        // Insert
        const submit = document.getElementById('submit');
        survey.insertBefore(moduleBox1, submit);
        survey.insertBefore(moduleBox2, submit);
    }
    else {
        // Create module
        let moduleBox = createModuleBox(module['id'], module.name);
        
        // Insert
        const submit = document.getElementById('submit');
        survey.insertBefore(moduleBox, submit);
    }

    // Loop through questions
    data.forEach( (q,i) => {
        // Init question box
        let qBox = createQuestionBox(q.id);
      
        // Create question
        qBox.appendChild(createQuestion(q.question));

        // Create options
        let radioButtonsGroup = createRadioButtonDiv();
        
        // Loop through options
        q.q_options.forEach(o => {            
            // Create label
            const radioLabel = createRadioLabel(o.id, 'qOptions', o.option, q.id, JSON.stringify(o));
            radioLabel.querySelector('input[type="radio"]').required = true;

            // Append 
            radioButtonsGroup.appendChild(radioLabel);
        })        

        // Append to box
        qBox.appendChild(radioButtonsGroup);
    
        // Append to module container        
        const module = document.getElementById(q.module);
        module.appendChild(qBox);
        
        // Loop through options
        q.q_options.forEach(o => {
            // Get elements
            let option = document.getElementById(o.id);
            let text = option.parentNode.querySelector('.optionText').textContent;            
            
            // Add listener
            option.addEventListener('click', () => {
                // Get sq box
                let sqBox = document.getElementById('sqbox' + q.id)
                
                // If selected is yes and no sq is initialised
                if (text == 'yes' && !qBox.contains(sqBox)) {

                    // Init sq box
                    sqBox = createSubQuestionBox('sqbox' + q.id);    
     
                    // Loop throgh sub questions
                    q.sub_questions.forEach(sq => {
                        // Append sub questions
                        sqBox.appendChild(createQuestion(sq.sub_question));
                        // Create options
                        let radioButtonsGroup = createRadioButtonDiv();
                        // Loop through sub options
                        q.sq_options.forEach(sqo => {
                            // Option label
                            const radioLabel = createRadioLabel(sq.id+'_'+sqo.id, 'sqOptions', sqo.option, sq.id, JSON.stringify(sqo));
                            radioLabel.querySelector('input[type="radio"]').required = true;

                            // Append option 
                            radioButtonsGroup.appendChild(radioLabel);

                            // Add event listener
                            radioLabel.addEventListener('click', () => {
                                attachRadioListeners(sq.id+'_'+sqo.id, sq.id)                     
                            })

                        });                        
                        // Append to sq box
                        sqBox.appendChild(radioButtonsGroup);                                                                              
                    })

                    
                    // Append to q box
                    qBox.appendChild(sqBox);                                              
                    
                }                
                // If no is selected and sq is initialised
                else if (text == 'no' && qBox.contains(sqBox)) { // 
                    // Remove sq
                    qBox.removeChild(sqBox)
                }         
                
                attachRadioListeners(o.id, q.id)

                // Set progress bar
                setProgressBar(i+1, data.length);
            
            })              
        })                 

        // Make it required          
        document.querySelector(`input[name="${q.id}"]`).required = true        
    })
};

function handleRadioButtonChange() {
    var radioButtons = document.querySelectorAll('input[type="radio"]');
    
    radioButtons.forEach(function(radioButton) {
        radioButton.addEventListener('click', function() {
            if (radioButton.checked) {
                let id = JSON.parse(radioButton.value).id
                let name = JSON.parse(radioButton.value).question

                // console.log(.value)
                // // Radio button is checked, perform actions here
                var radio = document.querySelector(`input[type="radio"][id="${id}"][name="${name}"]`);
                console.log(radio)
                // radio.style.border = '5px solid var(--medium-blue)'

                
                // Call another function or perform any actions you need here
                // functionName();
            } else {
                // Radio button is unchecked, perform actions here if needed
            }
        });
    });
}

</script>
